/* ./styles/global.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'vars';

@import 'typography';

@import 'components/button';
@import 'components/faq';
@import 'components/floating-btn';
@import 'components/hero';
@import 'components/menu';
@import 'components/search-modal';

@import 'utils/scrollbar';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-secondary);
}

body {
  @apply text-black;
  @apply bg-zinc-800;
}
