.--scroll {
  --size: 0.35rem;

  &-thick {
    --size: 0.5rem;
  }

  scrollbar-width: thin;
  scrollbar-color: var(--color-aux_2) transparent;

  &-x {
    &::-webkit-scrollbar {
      width: auto;
      height: var(--size);
    }
  }

  &-y {
    &::-webkit-scrollbar {
      height: auto;
      width: var(--size);
    }
  }

  &::-webkit-scrollbar {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-aux_2;
    @apply rounded-full;

    &:hover {
      @apply bg-aux_1;
    }
  }
}
